<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302554772027-g8pd41c2aqt7grm4f3rbh40gm7v7p7jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302554772027-g8pd41c2aqt7grm4f3rbh40gm7v7p7jt</string>
	<key>API_KEY</key>
	<string>AIzaSyBxI3P6zCwUr2xAuhsheDJ4TT_1aDciLb4</string>
	<key>GCM_SENDER_ID</key>
	<string>302554772027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listTiles</string>
	<key>PROJECT_ID</key>
	<string>list-tiles-fbproject</string>
	<key>STORAGE_BUCKET</key>
	<string>list-tiles-fbproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302554772027:ios:2c6d2006d38f51c5f0e21e</string>
</dict>
</plist>